body {
  background-color: white;
}

#root {
  /* padding-top: 40px; */
}

h1 {
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

div.parsonal_data {
  margin: 0 auto;
  padding: 30px;
  padding-top: 0px;
}

.flex {
  display: flex;
}

.margin-top10 {
  margin-top: 10px;
}

.margin-top20 {
  margin-top: 20px;
}

.margin-top30 {
  margin-top: 30px;
}

.margin-top40 {
  margin-top: 40px;
}

.margin10 {
  margin: 10px;
}

.margin0 {
  margin: 0px;
}

.row {
  background-color: #f5f5f5;
  margin: 5px;
}

.itemName,
.framework,
.language {
  text-align: right;
  min-width: 80px;
}

.parsonal_data p {
  padding: 3px;
  margin: 5px;
}

.honbun {
  padding: 20px;
  max-width: 520px;
  margin: auto;
}

.rakuten-div img {
  max-width: 180px;
}