.unvisible {
  display: none;
}

.visible {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menu-button {
  position: fixed;
  top: 0;
  min-height: 40px;
  width: 100%;
  background-color: rgb(197, 229, 255);
}

.menus-container {
  position: fixed;
  top: 40px;
  width: 100%;
}

.menus {
  background-color: rgb(197, 229, 255);
  padding: 5px;
}

.outside-of-frame {
  opacity: 0;
  width: 100%;
  min-height: 1000px;
}

.menu {
  background-color: rgb(231, 242, 255);
  padding: 5px;
  margin: 5px;
}

.menuIcon {
  min-width: 40px;
  min-height: 40px;
}