.Qiita,
.Github {
  padding: 10px;
  margin: 5px;
}

.Qiita a,
.Github a {
  color: white;
}

.Qiita {
  background-color: #55C500;
}

.Github {
  background-color: black;
}

table.collapse {
  border-collapse: collapse;
}

thead {
  color: orange;
  background-color: gray;
}

td.solid {
  border: solid 1px black;
}

td {
  padding: 5px;
}

li {
  padding: 3px;
}